.Experience{
    background: linear-gradient(lightgreen, yellow);
    color: black;
    padding: 2px 0px 20px 0px;
}

.title{
    font-size: 28px;
    color: rgb(244, 16, 225);
    font-style: italic;
}

.ExperienceDetails{
    padding-bottom: 5px;
}

.ExperienceHeading{
    background-color: rgb(255, 255, 255);
    color: blue;
    margin: -2px 25px 0px 25px;
    border-radius: 8px;
    font-size: 32px;
    box-shadow: 5px 5px 1px 5px black;
}