.Experience{
    background-color: lightgreen;
    color: black;
    padding-bottom: 20px;
}

.title{
    font-size: 28px;
    color: rgb(244, 16, 225);
    font-style: italic;
}

.ExperienceDetails{
    background-color: rgb(74, 211, 5);
    padding-bottom: 5px;
}