.Skill{
    background: linear-gradient(rgb(232, 51, 232), rgb(176, 139, 35) );
    padding: 10px 30px 20px 0px;
    color: white;
}

.SkillHeading{
    background-color: rgb(255, 255, 255);
    margin: 0px 5px 0px 25px;
    color: blue;
}

ul{
    justify-content: center;
    text-align: center;
}

li{
    list-style: none;

}